body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h2 {
    color: grey;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 575px;
}

form input, form textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 595px;
}

form button:hover {
    background-color:#ffdd57;
}

#messages-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}
.message-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
